/* -*- mode: css; css-indent-offset: 2 -*- */

body {
  font-size: 14px;
}

.debug * {
  border: 1px solid red;
  margin: 1px;
  padding: 1px;
}

.template {
  display: none;
}

.dish {
  margin: 1.5em 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.name_container {
  flex: 1 0 auto;
  margin-right: 0.5em;
}

.ingredient {
  margin: 1em 0;
}

.dish .header,
.ingredient .header {
  margin-bottom: 0.5em;
  line-height: 2em;
}

.weight_row > * {
  width: 30%;
}

input {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text] {
  width: 100%;
}

input[type=button] {
  width: 2em;
  height: 2em;
}
