/* -*- mode: css; css-indent-offset: 2 -*- */

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.debug * {
  border: 1px solid red;
  margin: 1px;
  padding: 1px;
}

.template {
  display: none;
}

.dish {
  margin: 1.5em 0;
  background-color: hsl(0, 0%, 96%);
}
.dish:first-child {
  margin-top: 0;
}
.dish:last-child {
  margin-bottom: 0;
}

.dish input {
  background-color: hsl(0, 0%, 98%);
}

.row {
  display: flex;
  justify-content: space-between;
}

.name_container {
  flex: 1 0 auto;
  margin-right: 0.5em;
}

.ingredient {
  margin: 1em 0;
  background-color: hsl(0, 0%, 94%);
}

.ingredient input {
  background-color: hsl(0, 0%, 96%);
}

.dish .header,
.ingredient .header
{
  margin-bottom: 0.5em;
  line-height: 2em;
}

.dish,
.ingredient
{
  padding: 0.5em;
  border: 1px solid hsl(0, 0%, 85%);
}

.weight_row > * {
  width: 30%;
}

hr {
  border: none;
  border-top: 1px solid hsl(0, 0%, 80%);
}

input {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 80%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text] {
  width: 100%;
}

input[type=button] {
  width: 2em;
  height: 2em;
}
